In [1]:
import numpy as np
import networkx as nx
from collections import deque
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from graphviz import Digraph
import warnings

warnings.filterwarnings('ignore')
sns.set_theme()

In [2]:
df = pd.read_csv("tele2_dataset.csv", parse_dates=['date', 'event_time'], )

# Это количество сессий у каждого отдельного юзера

In [3]:
df_cnt = df[['client_id', 'session_id']].drop_duplicates().drop('session_id', axis=1)
df_cnt['sum'] = 1 
df_cnt = df_cnt.groupby('client_id', as_index=False).agg('sum')

In [7]:
df_cnt.head(10)

        client_id  sum
0    58969.166816    1
1   185890.166847    1
2   226522.166875    1
3   333879.166734    1
4   382071.166912    1
5   510802.162647    1
6   563282.166719    1
7   882498.166749    1
8   994961.166741    1
9  1010279.166727    1

# В это df мы видим в колонке sessions - это сколько было сессий и clients - сколько клиентов с таким количеством сессий

In [29]:
df_another = df_cnt.copy().drop('client_id', axis=1)
df_another['1'] = 1
df_another = df_another.groupby('sum', as_index=False).agg('sum').rename({'sum': 'sessions', '1': 'clients'}, axis=1)
df_another.head()

   sessions  clients
0         1    19000
1         2     2130
2         3      661
3         4      278
4         5      111