In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('tele2_dataset.csv')
data.head()

C:\Users\Ульяна\AppData\Local\Temp\ipykernel_748\2314439927.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('tele2_dataset.csv')

,date,campaign,source,medium,device,client_id,session_id,event_time,event_name,current_tariff,is_LSE_member,user_auth,user_type,region_name,age,gender,rfm_index,have_home_inet
0,2022-11-01,eshop_art_alw_sim_none_yandex_search_brand-pro...,yandex,cpc,desktop,117251283.164232,5988994287612526860,2022-11-01 12:23:11,Покупка,Мой разговор,0.0,1,B2C,TYUMEN,25 - 39 лет,Male,141.0,0.0
1,2022-11-01,eshop_art_alw_sim_none_yandex_search_brand-pro...,yandex,cpc,desktop,117251283.164232,5988994287612526860,2022-11-01 12:22:49,Клик на кнопку Продолжить 3 (Экран выбора спос...,Мой разговор,0.0,1,B2C,TYUMEN,25 - 39 лет,Male,141.0,0.0
2,2022-11-01,eshop_art_alw_sim_none_yandex_search_brand-pro...,yandex,cpc,desktop,117251283.164232,5988994287612526860,2022-11-01 12:22:19,Ввод контактного номера,Мой разговор,0.0,1,B2C,TYUMEN,25 - 39 лет,Male,141.0,0.0
3,2022-11-01,eshop_art_alw_sim_none_yandex_search_brand-pro...,yandex,cpc,desktop,117251283.164232,5988994287612526860,2022-11-01 12:22:59,Клик на кнопку Продолжить 4 (Экран выбора адре...,Мой разговор,0.0,1,B2C,TYUMEN,25 - 39 лет,Male,141.0,0.0
4,2022-11-01,eshop_art_alw_sim_none_yandex_search_brand-pro...,yandex,cpc,desktop,117251283.164232,5988994287612526860,2022-11-01 12:22:21,Ввод имени,Мой разговор,0.0,1,B2C,TYUMEN,25 - 39 лет,Male,141.0,0.0

In [3]:
df = pd.read_csv('plotnost-podvizhnoj-svyazi-2022.csv', sep=';', skipinitialspace=True, decimal=',')

In [4]:
# Удаляем регионы с телефонной плотностью больше 225, так как они очень отличаются от основнй выборки
largest_regions = df[df['telephone_density']>225]['region_name'].to_list()
df = df[df.region_name.isin (largest_regions) == False ]
largest_regions

['KRASNODAR', 'MSK', 'NNOV', 'NOVGOROD', 'SPB', 'YANAO']

In [5]:
# Найдем границы 25, 50 и 75 перцентелей
sorted_data = sorted(df['telephone_density'])

q1 = np.percentile(sorted_data, 25)
q2 = np.percentile(sorted_data, 50)
q3 = np.percentile(sorted_data, 75)

q1, q2, q3

(185.81, 192.185, 201.61)

In [6]:
# Поделим данные по границам выбраных перцентилей
mini_regions = df[df['telephone_density']<=q1]['region_name'].to_list()
small_regions = df.loc[(df['telephone_density'] > q1) &(df['telephone_density'] <= q2)]['region_name'].to_list()
standart_regions = df.loc[(df['telephone_density'] > q2) &(df['telephone_density'] <= q3)]['region_name'].to_list()
big_regions = df[df['telephone_density']>=q3]['region_name'].to_list()

In [7]:
mini_regions

['ALTAI',
 'BARNAUL',
 'BRYANSK',
 'BURYATIA',
 'EAO',
 'KHAKASIA',
 'KUZBASS',
 'MARIEL',
 'MORDOVIA',
 'PENZA',
 'SARATOV',
 'TAMBOV',
 'TOMSK',
 'VLADIMIR',
 'VOLGOGRAD']

In [8]:
small_regions

['BELGOROD',
 'CHELYABINSK',
 'CHUVASHIA',
 'IZHEVSK',
 'KALUGA',
 'KAZAN',
 'KRASNOYARSK',
 'KURSK',
 'LIPETSK',
 'MAGADAN',
 'SAMARA',
 'TULA',
 'ULN',
 'VLADIVOSTOK']

In [9]:
standart_regions

['HMAO',
 'IRKUTSK',
 'IVANOVO',
 'KALININGRAD',
 'KHABAROVSK',
 'KOSTROMA',
 'OMSK',
 'PERM',
 'ROSTOV',
 'RYAZAN',
 'TVER',
 'TYUMEN',
 'VOLOGDA',
 'VORONEZH']

In [10]:
big_regions

['ARH',
 'EKT',
 'KAMCHATKA',
 'KARELIA',
 'KIROV',
 'KOMI',
 'KURGAN',
 'MURMANSK',
 'NOVOSIBIRSK',
 'OREL',
 'ORENBURG',
 'PSKOV',
 'SAKHALIN',
 'SMOLENSK',
 'YAR']

In [11]:
largest_regions

['KRASNODAR', 'MSK', 'NNOV', 'NOVGOROD', 'SPB', 'YANAO']

In [12]:
group = data[['client_id', 'region_name', 'gender']].drop_duplicates().set_index('client_id')

In [13]:
group

                       region_name  gender
client_id
117251283.16423236          TYUMEN    Male
16102451.166726004      KHABAROVSK    Male
1694252595.1667314             MSK    Male
1760047392.166496      CHELYABINSK    Male
1887972581.166496          BARNAUL    Male
...                            ...     ...
5638055.1669796789             SPB    Male
1171786665.1669820193         PERM    Male
373789213.1669794411           MSK  Female
346641068.1669795929   KRASNOYARSK  Female
934745616.1669761758           YAR  Female

[22791 rows x 2 columns]

In [14]:
df_cnt = data[['client_id', 'session_id']].drop_duplicates().drop('session_id', axis=1)
df_cnt['sum'] = 1 
df_cnt = df_cnt.groupby('client_id', as_index=False).agg('sum').set_index('client_id')
df_cnt

                                      sum
client_id
58969.1668164031                        1
185890.1668467195                       1
226522.1668748316                       1
333879.1667343453                       1
382071.1669117794                       1
...                                   ...
996727428.1667880133                    1
997789033.1668163974                    1
998096131.1667798154                    1
998608404.1665888280                    2
dfd47840-afd0-68c0-1fd5-d3e2b1c6a1b5    1

[22503 rows x 1 columns]

In [15]:
group = pd.merge(group, df_cnt, how ='left', left_index=True, right_index=True)

In [16]:
group

                                      region_name  gender  sum
client_id
58969.1668164031                      KRASNOYARSK  Female    1
185890.1668467195                         BRYANSK    Male    1
226522.1668748316                      KHABAROVSK  Female    1
333879.1667343453                      KHABAROVSK  Female    1
382071.1669117794                             SPB    Male    1
...                                           ...     ...  ...
996727428.1667880133                         HMAO  Female    1
997789033.1668163974                  CHELYABINSK  Female    1
998096131.1667798154                  CHELYABINSK    Male    1
998608404.1665888280                     BURYATIA  Female    2
dfd47840-afd0-68c0-1fd5-d3e2b1c6a1b5  CHELYABINSK    Male    1

[22791 rows x 3 columns]

['KRASNODAR', 'MSK', 'NNOV', 'NOVGOROD', 'SPB', 'YANAO']

In [17]:
q3 = np.percentile(sorted(group['sum']), 75)
group = group[
    (group['gender'] == 'Female') 
]
group = group[(group['region_name'] == 'KRASNODAR') | (group['region_name'] == 'MSK') | (group['region_name'] == 'NNOV') |
    (group['region_name'] == 'NOVGOROD') | (group['region_name'] == 'SPB') | (group['region_name'] == 'YANAO')
]
group = group[
    (group['sum'] > q3)
]
group

                      region_name  gender  sum
client_id
1015492.166866616             MSK  Female    2
23046227.16682417             MSK  Female    2
26679798.16673761       KRASNODAR  Female    3
35342361.16682643        NOVGOROD  Female    2
49415328.16692826             MSK  Female    2
...                           ...     ...  ...
927200491.1667937078          MSK  Female    3
939207627.1665231320          MSK  Female    3
944519828.1667733060          MSK  Female    2
9459685008.1667936438         MSK  Female    2
955121897.1668071568         NNOV  Female    2

[670 rows x 3 columns]

In [18]:
d = data[data['event_name'] == 'Покупка']
d['payer'] = 1
d = d[['client_id', 'payer']].groupby('client_id').sum()

C:\Users\Ульяна\AppData\Local\Temp\ipykernel_748\2734979800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['payer'] = 1

In [19]:
d = d.reset_index()
d['client_id'] = d['client_id'].astype(float)

In [20]:
1010279.1667274744 in d['client_id'].values

True

In [21]:
top_woman = group.index
top_woman.astype(float)
for w_id in top_woman:
    if w_id in d['client_id'].values:
        if d.iloc[w_id] > 0:
            group.iloc[w_id]['payer'] = 1
        else:
            group.iloc[w_id]['payer'] = 0
    else:
        group.iloc[w_id]['payer'] = 0

TypeError: Cannot index by location index with a non-integer key

In [32]:
data.groupby('session_id')['client_id'].unique()

session_id
141972659907373        [1043516595.1666613673]
168600804989959           [1245916659.1669233]
456173673257459             [991426336.166929]
938695947723453            [1594686043.166956]
1186551691689791          [1371117828.1666691]
                                ...
9219115026099903349       [1142792924.1668308]
9220217623014508991       [2022388297.1667209]
9220851645177312063       [1939339809.1669388]
9222232445890283069       [1274334158.1668792]
9222745269667529853        [417002352.1668594]
Name: client_id, Length: 30544, dtype: object